.d-flex {
   display: flex;
}

.d-none {
   display: none;
}

.justify-content-between {
   justify-content: space-between;
}

.justify-content-center {
   justify-content: center;
}

.justify-flex-end {
   justify-content: flex-end;
}

.align-items-center {
   align-items: center;
}

.tt {
   text-transform: capitalize;
}

.t-center {
   text-align: center;
}

.f-w-500 {
   font-weight: 500;
}

.h-100 {
   height: 100%;
}

.w-90 {
   width: 90%;
}

.w-100 {
   width: 100%;
}
