:root {
   --primary-font-family: Arial, Helvetica, sans-serif;
   --secondary-font-family: "Roboto", serif;
   --font-size-1: 14px;
   --font-size-2: 16px;
   --font-size-3: 18px;
   --font-size-4: 20px;
   --font-size-5: 24px;
   --color-white: #fff;
   --color-red: red;
   --color-grey-100: #eeebeb;
   --color-grey-200: #BBBBBB;
   --color-grey-300: #ccd6d8;
   --color-grey-500: #4C4C4C;
   --color-grey-600: #333333;
   --color-blue-100: #EEF6FB;
   --color-blue-200: rgb(216, 235, 241);
   --color-blue-300: #316480;
   --color-blue-400: #316380;
   --color-blue-500: #0c3f5b;
   --color-blue-800: #1A1A28;
   --box-shadow-1: 4px 4px 10px rgba(0, 0, 0, 0.2);
   --box-shadow-2: 6px 6px 0px 0px rgba(189, 220, 237, 1);
   --box-shadow-3: 4px 4px 0px 0px rgba(189, 220, 237, 1);
   --border-radius: 4px;
   --spacing-0: 0px;
   --spacing-1: 5px;
   --spacing-2: 10px;
   --spacing-3: 15px;
   --spacing-4: 20px;
   --spacing-5: 25px;
   --spacing-6: 35px;
   --spacing-7: 40px;
}
